<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css
">
</head>
<body>
    

{{!-- <script src="/js/validate.min.js"></script> --}}
    <title>Zwykła strona internetowa</title>
    <h1>HANDLEBARS</h1>
    <input type="text" id="AA">
    <button id="BB">Klik</button>
    <p id="CC"></p>
    <title>{{ pageTitle }}</title> 
    <title>{{ subTitle }}</title>
    <a href="./subpage">Klik</a>


<script src="./../js/func.js"></script>

    
</body>

</html>